.pos-receipt.ciot-receipt-58mm {
    width: 384px !important;
    font-size: 20px !important;
}

.pos-receipt.ciot-receipt-80mm {
    width: 512px !important;
    font-size: 27px !important;
}

.pos-receipt.ciot-receipt-standard {
    width: 768px !important;
    font-size: 21px !important;
}
